@model BookShelf.Models.BookShelf

@{
    ViewBag.Title = "Add book";
}

@using (Html.BeginForm("AddBook", "Home", FormMethod.Post, new { id = "add-book-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "Please, fill all fields.", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.BookName, new { htmlAttributes = new { @class = "form-control", @id = "edit-name" } })
            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.BookName, "Couldn`t be empty!", new { @class = "text-danger hidden", @id = "edit-name-error" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.BookAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.BookAuthor, new { htmlAttributes = new { @class = "form-control", @id = "edit-author" } })
            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.BookAuthor, "Couldn`t be empty!", new { @class = "text-danger hidden", @id = "edit-author-error" })
            </div>
        </div>
    </div>
}
