@{
    ViewBag.Title = "Home";
}

<div id="jumbatron ">
    <div class="js-block">
        <h1 class="extremum-click">Add book</h1>
        <div id="add-container" class="extremum-slide-adding">
            @Html.Action("AddBook")
        </div>
    </div>
</div>
<div id="list-block" class="jumbotron">
    @Html.Action("List")
</div>
<div id="jumbatron ">
    <div class="js-block">
        <h1 class="extremum-click"></h1>
        <div id="editing-container" class="extremum-slide">
        </div>
    </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Delete</h4>
            </div>
            <div class="modal-body">
                <h3>Are you sure to delete the book?</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">No</button>
                <button class="btn btn-primary js-btn-confirm" type="button" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('.books').on('click', '#delete-button', function () {
                var item = { id: $(this).attr("data-content") };
                var options = {
                    "backdrop": "static"
                }
                $('#basicModal').modal(options);
                var url = '@Url.Action("GetName","Home")';
                $.get(url, item, function (data) {
                    $('#myModalLabel').text("Delete " + data);
                })
                $('.js-btn-confirm').on('click', function () {
                    var url1 = '@Url.Action("DeleteBook", "Home")';
                    $.post(url1, item, function (data) {
                        $('#list-block').html(data);
                        $('#tr-' + $(this).attr("data-content")).remove();
                    });
                });
            });

            $('.js-block').on('click', '.extremum-click', function () {
                $(this).siblings('.extremum-slide-adding').slideToggle(0);
            });
            $('#add-cancel').on('click', function () {
                $('.extremum-slide-adding').slideToggle(0);
            });
            $('#add-confirm').on('click', function () {
                var url = '@Url.Action("AddBook", "Home")';
                $.get(url, "", function (data) {
                    $('#add-container').html('');
                    $('#add-container').append(data);
                });
            });

            $('.books').on('click', '#edit-button', function () {
                var url = '@Url.Action("EditBook", "Home")';
                var item = { id: $(this).attr("data-content") };
                $.get(url, item, function (data) {
                    $('#editing-container').html('');
                    $('#editing-container').append(data);
                    $('#edit-name').focus();
                });
            });

            $('#edit-cancel').on('click', function () {
                $('#editing-container').html('');
            });
        });
    </script>
}
