@model IEnumerable<Book>

<table id="list-books" class="table table-striped table-hover table-responsive books" style="padding:0">
    <thead>
        <tr>
            <th><p>Book Id</p></th>
            <th><p>Book Name</p></th>
            <th><p>BookAuthor</p></th>
            <th><p>Delete item</p></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in Model)
        {
            <tr id="edit-button" data-content="@b.BookId">
                <td><p>@b.BookId</p></td>
                <td><p> @b.BookName </p></td>
                <td><p>@b.BookAuthor</p></td>
                <td><button data-content="@b.BookId" id="delete-button" class="btn btn-success">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

